recursive-include yafblog/admin/templates *
recursive-include yafblog/admin/static *
recursive-include yafblog/home/templates *
recursive-include yafblog/home/static *
include yafblog/scheme.sql
include run.py
include package.json
include gulpfile.js
