{% extends "admin/page.html" %}
{% set active_page = "article" %}
{% block content %}
{% set dict_tags = tags|list_to_dict %}
{% set dict_categorys = categorys|list_to_dict %}
<div class="card-header font-weight-bold">
    文章列表
    <button class="btn btn-sm btn-outline-success float-right btn-url" data-url="{{ url_for('admin.article_add') }}">添加</button>
</div>
<div class="card-block">
    <table class="table table-hover table-fixed">
        <thead class="thead-inverse">
            <th style="width:5%">#</th>
            <th style="width:35%">标题</th>
            <th style="width:10%">类别</th>
            <th style="width:20%">标签</th>
            <th style="width:15%">时间</th>
            <th style="width:15%">操作</th>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td scope="row">{{ article.id }}</td>
                <td><a href="{{ url_for('home.article', article_id=article.id)}}" target="_blank">{{ article.title }}</a></td>
                <td>{{ dict_categorys[article.category|string].name }}</td>
                <td>
                    {% for tag_id in article.tags|split(',') %}
                    {% if loop.index > 1%},{% endif %}
                    {% if tag_id %}
                    {{ dict_tags[tag_id].name }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{ article.addtime|datetimeformat }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary btn-url" data-url="{{ url_for('admin.article_edit', article_id=article.id)}}" >编辑</button>
                    <button class="btn btn-sm btn-outline-danger btn-modal" data-url="{{ url_for('admin.article_del', article_id=article.id)}}">删除</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% autoescape false %}
        {{ page_list }}
    {% endautoescape %}
</div>
{% endblock %}
