<!doctype html>
<head>
    <title>{{ title|default('blog')}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('home.static', filename='favicon.ico') }}">
</head>
<body>
    {% block header %}{% endblock %}
    {% block container %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('.static', filename='js/main.min.js') }}"></script>
</html>
