{% extends "home/page.html" %}
{% set dict_categorys = categorys|list_to_dict %}
{% set dict_tags = tags|list_to_dict %}
{% block breadcrumb %}
{% if category_id %}
<ul class="uk-breadcrumb">
    <li><a class="u-link-animate"href="{{ url_for('home.index') }}">首页</a></li>
    <li><a href="{{ url_for('home.category') }}">类别</a></li>
    <li><a href="">{{ dict_categorys[category_id].name }}</a></li>
</ul>
{% elif tag_id %}
<ul class="uk-breadcrumb">
    <li><a href="{{ url_for('home.index') }}">首页</a></li>
    <li><a href="{{ url_for('home.tag') }}">标签</a></li>
    <li><a href="">{{ dict_tags[tag_id].name }}</a></li>
</ul>
{% elif month %}
<ul class="uk-breadcrumb">
    <li><a href="{{ url_for('home.index') }}">首页</a></li>
    <li><a href="{{ url_for('home.archive') }}">归档</a></li>
    <li><a href="">{{ month }}</a></li>
</ul>
{% elif keyword %}
<ul class="uk-breadcrumb">
    <li><a href="{{ url_for('home.index') }}">首页</a></li>
    <li><a href="">搜索：{{ keyword }}</a></li>
</ul>
{% endif %}
{% endblock %}

{% block rightside %}
<div class="uk-card uk-background-muted">
    <div class="uk-card-header"> 分类</div>
    <div class="uk-card-body">
        {% for c in categorys %}
         <div class="uk-animation-toggle uk-display-inline-block u-padding-w">
             <a href="{{ url_for('home.index_category', category_id=c.id) }}" class="{% if c.id|string == category_id %}u-link-primary{% else %}u-link-default{% endif %} uk-animation-scale-up uk-display-inline-block u-link-animate"> {{ c.name }} {% if c.num > 0 %}<sup>{{ c.num }}</sup>{% endif %}</a>
        </div>
        {% endfor %}
    </div>
    <div class="uk-card-footer"></div>
</div>
<div class="uk-card uk-background-muted uk-margin-top">
    <div class="uk-card-header">标签 </div>
    <div class="uk-card-body">
        {% for t in tags %}
        <a href="{{ url_for('home.index_tag', tag_id=t.id) }}" class="{% if t.id|string == tag_id %}u-link-primary{% else %}u-link-default{% endif %} u-link-animate uk-display-inline-block u-padding-w"> {{ t.name }} {% if t.num > 0 %}<sup>{{ t.num }}</sup>{% endif %}</a>
        {% endfor %}
    </div>
</div>
<div class="uk-card uk-background-muted uk-margin-top">
    <div class="uk-card-header">归档</div>
    <div class="uk-card-body">
        <ul class="uk-list archive-list">
        {% for a in archives %}
        <li><a href="{{ url_for('home.index_archive', month=a.month) }}" class="{% if a.month == month %}u-link-primary{% else %}u-link-default{% endif %} u-link-animate uk-display-inline-block u-padding-w"> {{ a.month }} {% if a.num > 0 %}<sup>{{ a.num }}</sup>{% endif %}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="uk-card-footer"></div>
</div>
<div class="uk-card uk-background-muted uk-margin-top">
    <div class="uk-card-header">链接 </div>
    <div class="uk-card-body">
        <a href="javascript" class="u-link-default u-link-animate uk-display-inline-block u-padding-w"> CATE1 </a>
    </div>
</div>
{% endblock %}

{% block content %}
    <ul class="uk-list uk-list-divider">
        {% for article in articles %}
        <li>
            <div class="uk-grid">
                <span class="uk-width-3-4">
                    <a href="{{ url_for('home.article', article_id=article.id) }}" class="uk-text-bold u-link-default u-link-animate">{{ article.title }}</a>
                </span>
                <span class="uk-width-1-4 uk-text-right">
                    <a href="{{ url_for('home.index_category', category_id=article.category) }}" class="u-link-default u-link-animate">#{{ dict_categorys[article.category|string].name }}</a> · <span class="uk-text-muted u-fs-14">{{ article.addtime|datetimeformat }}</span>
                </span>
            </div>
        </li>
        {% else %}
        Unbelievable.  No articles here so far
        {% endfor %}
    </ul>
{% endblock %}
